body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f1113;
  color: #e2e3df;

 }
.body-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.header {
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.92), rgba(0, 0, 0, 0.88)),
   url("https://res.cloudinary.com/ihunaya/image/upload/v1587054954/Startng/html-css/bg-1_kvzn2c.jpg");
  height: 80%; 
  width: 100%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.navbar {
  overflow: hidden;
  padding: 20px;
  justify-content: space-between;
}
.nav-brand a{
  color: #ff9122;
  font-weight: bolder;
}
.nav-brand a span{
  font-size: 25px
}
.nav-items a{
  color: #fffaf4;
  font-weight: bolder;
}
.nav-items a:hover{
  color: #ff9122;
}
.flex-center {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 25em;
width: 100%;
}
.flex-center h3{
  font-weight: bold;
  font-size: 30px
}
.flex-center h1{
  font-weight: bolder;
  font-size: 40px
}
.navbar a {
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}
/*.bg-btn{
  display: none;
  width: 150px;
  padding: 20px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid #ff9122;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px
}*/
.bg-btn{
  display: none;
}
.bg-btn:hover{
  background-color: #ff9122;
}
.bg-btn:focus{
  outline: 0;
}
.bg-content{
  text-align: center;
  padding-top: 10px;
}
.row{
	display: flex;
  flex-direction: row;
}
.side{
	  flex: 30%;
  	max-width: 30%;
	  padding-right: 15px;
	  padding-left: 15px;
}
.main{
	  flex: 70%;
  	max-width: 70%;
 	  padding-right: 15px;
  	padding-left: 15px;
}
.card{
	display: block;
  margin-left: auto;
  margin-right: auto;
	background-color: #282923;
  word-wrap: break-word;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 5px;
	padding: 30px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin-bottom: 30px
}
.section{
  padding-top: 50px;
  margin-top: 50px;
}
.section-header{
  text-align: center;
  margin-bottom: 50px;
}
.section-header h2{
    border-bottom: 4px solid #ff9122;
    border-top: 4px solid #000;
    display: inline-block;
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 5px 0;
}
.name-tag{
    margin-bottom: 100px;
    margin-top: 50px
}
.my-image{
    border: 2px solid #ff9122;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 50%;
    box-shadow: 2px 2px 6px #333;
    filter:grayscale(100%) contrast(100%) brightness(70%);
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.bio h2{
  color: #ff9122;
  text-align: center;
  font-size: 28px
}
.bio-title{
  color: #ff9122;
}
.bio-content{
  padding-left: 20px;
  padding-right: 20px;
}
.bio-content h4{
  padding-bottom: 5px;
}
.con{
  width: 60%;
}
.my-data{
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bio hr{
  margin-bottom: 10px;
  margin-top: 10px
}
hr{
  margin-top: 30px;
  margin-bottom: 30px
}
input{
  width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border:none;
    border-radius: 5px;
    background-color: #595b4f;
}
input:focus{
  outline: none;
}
textarea{
    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border:none;
    border-radius: 5px;
    background-color: #595b4f;
}
textarea:focus{
  outline: none;
}
input[type=submit]{
  width: 200px;
  padding: 20px 20px;
  background-color: transparent;
  color: #ff9122;
  border: 2px solid #ff9122;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px
}
input[type=submit]:hover{
  background-color: #ff9122;
  color: white;
}
input[type=submit]:focus{
  outline: 0;
}
.footer hr{
  margin-top: 100px;
  margin-bottom: 0px;
  font-weight: bolder;
}
.copy a{
  color: #ff9122;
  font-size: 12px
  margin-left: 0px;
}
.my-story{
  line-height: 2em;
  color: #bec0b8;
  font-size: 20px;
}
.fa{
 padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 100%;
  line-height: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.fa:hover{
  background-color: #ff9122;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
.fa-github {
  background: #222222;
  color: white;
}
.name-tag-smaller{
  display: none;
}
@media(min-width: 320px){
  .body-container{
    max-width: 290px
  }
}
@media (min-width: 576px) {
  .body-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .body-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .body-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .body-container {
    max-width: 1140px;
  }
}
@media (max-width: 990px){
  .header{
    height: 50%;
  }
  .body-container{
    padding: 0px;
  }
  .row{
    flex-direction: column;
  }
  .side, .main, .con{
    flex: 90%;
    max-width: 90%;
    padding: 0px
}
  .card{
    width: 100%; 
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    }
    .flex-center{
      display: block;
      text-align: center;
      width: 100%;
  }
    .my-image{
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0px;
      margin-bottom: 20px;
      width: 30%;
    }
    .copy, .social-icons{
      text-align: center;
    }
    .copy a{
      font-size: 13px;
    }
    .copy p{
      font-size: 13px
    }
    .nav-items{
      display: none;
    }
    .nav-brand{
      text-align: center;
      margin-bottom: 10px
    }
    .section-header{
    margin-bottom: 25px;
    }
    .bg-btn{
      display: inline-block;
      width: 150px;
      padding: 20px 15px;
      background-color: transparent;
      color: white;
      border: 1px solid #ff9122;
      border-radius: 50px;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      margin-top: 10px
    }
    .my-data{
  padding: 5px;
  }
  .name-tag{
    display: none;
  }
  .name-tag-smaller{
    display: inline-block;
  }
}
@media (max-width: 575px){
  .header{
    height: 50%;
  }
.flex-center h3{
  font-weight: bold;
  font-size: 15px
}
.flex-center h1{
  font-weight: bolder;
  font-size: 20px
}
input[type=submit]{
  width: 100%;
}
.bg-btn{
  width: 100px;
  padding: 10px 10px;
  font-size: 13px;
}
 .my-image{
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0px;
      margin-bottom: 20px;
      width: 80%;
    }
    .my-data{
  padding: 20px;
}

}
